{% extends 'estrutura/base.html' %}
{% block conteudo %}
  
<div class="container">
    <form>
        <div class="login-container">
            <p class="login-label">Login</p>
            <div class="form-group">
                <input type="email" name="email" placeholder="Insira seu E-mail" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Insira sua Senha" required>
            </div>
            <button class="btn" type="submit">ENTRAR</button>
        </div>
    </form>
</div>
{% endblock %}