shivazen/app_shivazen/__pycache__/__init__.cpython-313.pyc

shivazen/shivazen/__pycache__/wsgi.cpython-313.pyc
shivazen/shivazen/__pycache__/urls.cpython-313.pyc
shivazen/shivazen/__pycache__/settings.cpython-313.pyc
shivazen/shivazen/__pycache__/__init__.cpython-313.pyc
shivazen/app_shivazen/migrations/__pycache__/0002_rename_usuarios_usuario.cpython-313.pyc
shivazen/app_shivazen/migrations/__pycache__/0001_initial.cpython-313.pyc
shivazen/app_shivazen/migrations/__pycache__/__init__.cpython-313.pyc
shivazen/app_shivazen/__pycache__/views.cpython-313.pyc
shivazen/app_shivazen/__pycache__/urls.cpython-313.pyc
shivazen/app_shivazen/__pycache__/models.cpython-313.pyc
shivazen/app_shivazen/__pycache__/apps.cpython-313.pyc
shivazen/app_shivazen/__pycache__/admin.cpython-313.pyc
shivazen/app_shivazen/__pycache__/__init__.cpython-313.pyc
