/* Estilização geral */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f3ef;
  color: #5c4b2b;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
}

/* Logo */
.logo img {
  height: 6em !important;
}

/* Menu links */
.nav-link {
  color: #b48c4c !important;
  text-decoration: none;
}

.nav-link:hover,
.nav-link.active {
  color: #8b5c00 !important;
}

.nav :hover {
  color: #8b5c00 !important;
}

/* Botão de login */
.btn-outline-primary {
  border: 2px solid #b48c4c;
  color: #b48c4c;
  background-color: transparent;
}

.btn-outline-primary:hover {
  background-color: #b48c4c;
  color: white;
}

/* rodape */
.footer {
  background-color: #fdf6f0;
  color: #8b5c00;
  font-size: 14px;
  padding: 20px 0;
  border-top: 1px solid #e0d8d2;
  margin-top: auto;
}

.footer a {
  color: #b48c4c;
  text-decoration: none;
}

.footer a:hover {
  color: #8b5c00;
}

.footer .social-icons img {
  transition: transform 0.3s;
}

.footer .social-icons img:hover {
  transform: scale(1.1);
}