{% extends 'estrutura/base.html' %}
{% block conteudo %}
    <div class="container">
        <div class="left">
            <h2>Contact</h2>
            <p><em>Please fill out the form below to send us an email.</em></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <b>E-mail:</b>
            <p>hello@reallygreatsite.com</p>
        </div>
    </div>
{% endblock %}