{% extends 'estrutura/baserodape.html' %}
{% load static %}

{% block conteudo %}
<section class="hero-section">
  <div class="hero-container">
    <div class="hero-overlay">
      <div class="hero-content text-center">
        <a href="{% url 'shivazen:inicio' %}">
            <img src="{% static 'assents/LogoCompletaSemFundo.png' %}" alt="Shiva Zen" class="login-logo">
        </a>
        <h5 class="hero-title">Termos de uso</h5>
      </div>
    </div>
  </div>
</section>

<div class="container py-5">
    <p>
Varius rhoncus, pulvinar lectus nam natoque vulputate dui ad malesuada tristique ligula nec. Pretium arcu, tempus risus eros nostra. Elementum justo vulputate hac vel interdum ornare, sociis accumsan arcu. Et nullam at amet natoque quisque feugiat viverra vitae ante curabitur. Facilisis posuere aptent elit felis potenti, malesuada aenean parturient ridiculus rhoncus. Himenaeos tristique porta varius aptent molestie curae;. Nisi varius neque penatibus integer viverra accumsan et sit! Habitant massa habitasse hac. Tortor eleifend proin mollis vivamus eros elit gravida facilisis nunc molestie ornare. Molestie bibendum montes elementum suscipit fermentum porta nam curae;. Facilisis eget nostra.
</p>
<p>
Dolor nullam quisque maecenas adipiscing ut ac sociis imperdiet cras fames. Magna odio cursus sed conubia non pharetra ultricies quis sit tempor! Lacinia non facilisi tortor vitae etiam potenti vel nisi sollicitudin sapien habitant! Ligula semper at per ad. Ante orci laoreet laoreet a conubia. Ultricies habitasse tortor pretium natoque in iaculis quis et ultrices himenaeos? Nullam montes mi dapibus posuere molestie quisque parturient primis. Dictum sapien posuere condimentum sit sociis etiam metus ut viverra fusce. Inceptos bibendum morbi nulla convallis diam est himenaeos dolor tellus non. Vulputate nec dapibus cum.
</p>
<p>
Tellus id quis sit mus feugiat interdum faucibus rhoncus. Consectetur condimentum cum maecenas pharetra phasellus ligula risus aenean molestie massa penatibus scelerisque. Malesuada etiam ac nisi ullamcorper quisque. Nam ultricies nullam senectus aenean porttitor diam ultricies felis odio in vulputate. Taciti orci tristique class. Elementum nisl primis viverra montes potenti facilisi ligula sit amet. Id fermentum rutrum commodo congue nulla fames. Aptent auctor sollicitudin habitant nunc metus felis. Commodo sem fringilla vulputate hac ipsum magnis purus. Scelerisque nunc fames fermentum, proin lacus. Tortor neque magnis ligula laoreet vestibulum elit litora lacus in, conubia facilisis ut.
</p>
<p>
Ad senectus pharetra massa? Metus sed, montes nulla dictumst. Cursus orci nam eu morbi vehicula. Fames sollicitudin in primis integer semper enim consectetur potenti potenti nec commodo in. Ultricies platea quam tellus. Tempor litora, proin sagittis sapien urna fringilla elit facilisi conubia montes vulputate sociosqu? Sociis, aptent tempus pretium pulvinar cursus venenatis congue leo auctor scelerisque. Elit himenaeos sociosqu arcu pellentesque enim curabitur dictumst accumsan! Blandit interdum vitae justo!
</p>
<p>
Justo interdum primis netus dapibus aenean semper turpis auctor pretium sociosqu tristique. Tempor posuere sodales auctor hendrerit ut quis? Mus bibendum mattis vel mattis massa magnis nam fames? Lacinia lobortis ipsum, fringilla nunc. Fringilla suspendisse euismod nunc facilisis lectus lobortis faucibus. Per mauris imperdiet conubia sed turpis parturient. Nostra sodales aenean orci proin pulvinar primis. Blandit purus sapien lobortis metus! Lectus curae; ridiculus ligula ad ac facilisis porttitor purus neque. Auctor eleifend volutpat odio ut ultricies tellus id.
</p>
<p>
Dis ridiculus id, ultricies mus inceptos iaculis velit venenatis nulla magnis pharetra. Hac venenatis cras netus maecenas ante vel sapien dui. Praesent, molestie nec eros. Vestibulum class neque netus! Sapien turpis nunc potenti urna duis dolor gravida volutpat inceptos mi. Taciti duis ultrices pellentesque, nisl duis. Porttitor rhoncus phasellus hac senectus, nunc morbi dapibus. Ullamcorper interdum egestas a rutrum. Aliquam condimentum, quam magna dolor maecenas id tortor elit nunc ultricies. Facilisis himenaeos felis accumsan varius viverra laoreet. Penatibus risus id volutpat etiam purus feugiat amet eros risus quis nisl. Neque ut fringilla dictum aliquet consequat orci vel fringilla.
</p>
<p>
Lacinia imperdiet venenatis vivamus. Nisl torquent platea facilisi iaculis malesuada dignissim cum nec nulla dui tristique. Malesuada magna consectetur semper inceptos morbi morbi ante quis. Non at donec egestas malesuada dignissim mi lacinia malesuada libero! Praesent ad iaculis lorem ut rhoncus! Ante congue rutrum himenaeos curae; platea netus urna quisque convallis. Integer lacus varius faucibus lacinia aliquet. Tempus.
</p>
<p>
Tortor taciti placerat eros molestie! Cras tortor iaculis leo quisque mus a justo rhoncus torquent purus adipiscing. Lacinia senectus euismod nascetur non gravida porttitor non? Egestas suscipit class morbi est ullamcorper iaculis, dictumst mus placerat euismod ridiculus vitae. Torquent aliquam phasellus curabitur ligula sit facilisi posuere sed fusce at fusce. Curae; suspendisse ultricies ac. Fermentum sociosqu tempor taciti dis sollicitudin per non. Consequat rutrum, ante aptent porta rutrum montes leo sed. Magnis molestie volutpat commodo mattis elementum lectus erat curabitur. Ultricies massa amet ad ultrices gravida. Etiam elementum nam magna convallis vitae. Vestibulum posuere justo.
</p>
<p>
Fringilla non hendrerit, mauris in. Blandit aptent aptent ante lacus mattis! Integer integer phasellus eget magnis mus rutrum sociis quis curae; vitae. Sociosqu id hendrerit velit habitasse per, habitasse tincidunt. Molestie id tincidunt lacus pretium. Commodo dictum himenaeos maecenas suspendisse? Lacinia augue quis velit, nisl arcu tempor ridiculus dignissim. Taciti diam nascetur sed fusce quam, vitae facilisis! Metus duis eget imperdiet semper?
</p>
<p>
Eget ridiculus mauris gravida, mi nascetur mattis ad est potenti a. Blandit commodo, eget laoreet non rutrum ullamcorper platea habitant ornare quisque. Est lectus parturient platea pulvinar velit sollicitudin quis. Volutpat platea taciti varius. Ultrices eu, primis augue cubilia habitant magna ac tristique vel sagittis aenean cras. Penatibus dictumst maecenas fames ultricies cursus. Ad odio faucibus nam vivamus nibh fames. Ipsum ullamcorper curabitur nibh augue montes purus pharetra. Lacus mauris quam nec erat sed dapibus rhoncus vulputate.
</p>
<p>
Consequat duis at pellentesque maecenas. Class semper lacinia turpis aenean mus diam parturient euismod massa justo ligula. Blandit in donec ligula augue facilisi, magnis eleifend montes mollis donec. Conubia rhoncus luctus senectus. Lacus nostra nullam augue enim dolor nisi etiam cum duis facilisi non. Lobortis velit fringilla facilisi nulla metus nullam? Feugiat tempus.
</p>
<p>
Quam bibendum eu nostra eleifend libero dictum nascetur penatibus aliquam sem. Duis volutpat iaculis arcu penatibus sociosqu quisque arcu placerat pulvinar. Nullam nisi mollis tortor lorem eget proin volutpat? Dis aenean parturient cum. Hendrerit facilisi non litora netus viverra nullam placerat ipsum ornare. Ad cursus nec fermentum phasellus lobortis suscipit amet! Accumsan justo dapibus sociis. Sociosqu erat quis consequat vehicula adipiscing convallis.
</p>
<p>
Quis vestibulum fringilla pharetra nunc commodo? Interdum auctor adipiscing nam ante parturient eu. Facilisis parturient placerat tempus per. Turpis quisque sed volutpat nascetur volutpat est libero sodales ornare fames ultrices. Dapibus a vestibulum, libero vestibulum taciti et per. Nascetur sociosqu lobortis odio posuere gravida gravida quisque lorem. Turpis mattis tellus metus pellentesque erat a nostra mauris malesuada. Commodo mus dis est nec euismod mus habitasse phasellus curae; phasellus. Hac vulputate facilisi sit, nullam risus pellentesque ipsum. Sociis augue fames dictum erat varius.
</p>
<p>
Ut orci elementum, per scelerisque suscipit primis vehicula primis duis netus. Libero dapibus per eleifend purus cubilia elit feugiat est sit platea. Commodo penatibus sodales semper nunc suscipit fringilla habitant non. Fusce imperdiet interdum aliquet vitae venenatis. Penatibus justo sagittis conubia malesuada ultrices. Semper sagittis nam neque dictum rhoncus nibh purus quis nisl rhoncus parturient cursus. Lobortis elementum, lacus nam posuere sociis netus ultricies luctus! Interdum aliquam duis.
</p>
<p>
Cursus senectus sit ultricies maecenas, enim vitae non ultrices aptent cras dis sodales? Adipiscing elit gravida rutrum neque nec donec interdum risus nascetur. Nulla tincidunt lectus integer natoque fusce et justo aptent accumsan sociosqu ac aptent! Posuere eleifend dapibus est nunc dui. Viverra nullam tempor proin nunc ac venenatis sociosqu porttitor! Nisl nunc porta risus. Senectus nostra gravida euismod leo ultrices. Nunc dolor nascetur pharetra accumsan dolor. Blandit senectus orci eros. Fringilla molestie euismod lacinia posuere odio nascetur. Nascetur suspendisse hac bibendum dictum tristique ad. Odio arcu duis aliquet. Volutpat potenti placerat sollicitudin nullam cras bibendum ullamcorper dignissim, magnis.
</p>
</div>
{% endblock %}