{% extends 'estrutura/base.html' %}
{% load static %}

{% block conteudo %}
  {% csrf_token %}

  <!-- carrega o CSS externo -->
  <link rel="stylesheet" href="{% static 'css/telas.css' %}">

  <section class="pagina-inicial">
    <div class="imagem-principal">
      <img src="{% static 'assents/hero-soap.jpg' %}" alt="Sabonetes artesanais">
          <a href="{% url 'shivazen:agendaCadastro' %}" class="btn-login">
            Agende seu procedimento
          </a>
    </div>

    <div class="texto-central">
      <h2>Clínica de Estética Avançada</h2>
      <p>
        SOMOS ESPECIALISTAS E OFERECEMOS MAIS DE 20 TRATAMENTOS FACIAIS E CORPORAIS, COMO BIOESTIMULADORES DE COLÁGENO, PREENCHIMENTO LABIAL E FACIAL, LIMPEZAS, MASSAGENS E MUITO MAIS.
      </p>
    </div>

    <div class="imagens-pequenas">
      <img src="{% static 'assents/tratamento1.jpg' %}" alt="Tratamento facial">
      <img src="{% static 'assents/sabonetes.jpg' %}" alt="Sabonetes com aveia">
      <img src="{% static 'assents/tratamento2.jpg' %}" alt="Aplicação estética">
    </div>
  </section>
{% endblock %}
